*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:cyan;
    font-family:Arial, sans-serif;
}

.container{
    display:flex;
    justify-content:space-around;
    margin-top:50px;
}

.card{
    width:340px;
    background:hotpink;
    border-radius:20px;
    overflow:hidden;
    box-shadow:0 5px 15px rgba(0,0,0,0.3);
    text-align:center;
}

.card img{
    width:100%;
    height:340px;
    object-fit:cover;
}

.content{
    padding:20px;
}

.content h2{
    font-family:Georgia, serif;
    margin-bottom:20px;
}

.content p{
    margin-bottom:20px;
    font-size:22px;
}

button{
    padding:5px 10px;
    cursor:pointer;
}